@import "main.css";

svg text{
    z-index: 100;
}
.graph1{
    z-index: 0;
    min-width: var(--min-width);
}

/* 

/* EXP SVG //////////////////////////// */
.exp_circle svg {
    border-radius: 50%;
    width: 80%;
    margin-left: 10%;
    margin-top: 1em;
    margin-bottom: 1em;
}
.exp_circle circle{
    fill: var(--fifth-color);
    stroke: var(--fourth-color);
}
.exp_circle rect{
    fill: var(--fourth-color);
}
.text {
    fill:var(--text-color); ;
    text-anchor: middle;
    transform-origin: 50%;
    font-size: 8px;
}

/* AUDITS SVG //////////////////////////// */
.audits_bars{
    min-width: calc(var(--min-width) - 1em);
    fill: var(--text-color);;
    border-top: 8px solid var(--background-color);
    width: 100%;
    max-width: 500px;
}
.audit_container{
    fill: var(--main-color);
}
.bar1{
    fill: #2c6758de;
}
.bar2{
    fill: #973222a1;
}
.bar3{
    fill: #3f9a5dc8;
}
.ratio_text{
    font-size: 6px;
}
/*  SKILL GRAPH ******************************/
.skill_graph{
    fill: var(--text-color);
    /* width: 500px; */
}
/* TIME GRAPh  ////////////////////////////////*/
.time_graph{
    position: relative;
    /* width: 500px; */
}
.time_graph polyline{
    stroke: var(--fifth-color);
}
.time_container{
    fill: var(--main-color);
    opacity: 0.5;
    stroke-width: 0.5;
    stroke: var(--text-color);
}
.time_selection{
    position: absolute;
    font-size: var(--big-font);
    top: 10%;
}
.single_point .time_text{
    opacity: 0;
    transition: all 0.5s ease;
}
.single_point{
    cursor: pointer;
}
.single_point circle{
    transition: all 0.5s ease;
    stroke-width: 0;
    stroke: black;
    fill: var(--text-color);
}
.single_point:hover circle{
    cursor: pointer;
    stroke-width: 0.5;
    stroke: rgba(203, 203, 8, 0.761);
}

/* .single_point:hover > .time_text { */
.point_text{
    opacity: 0;
    pointer-events: none;
}
.single_point:hover > .point_text {
    opacity: 1;
    transform-origin: 50%;
    text-anchor: middle;
    font-size: 4px;
}

select{
    width:120px;
    height: 40px;
    font-size: var(--big-font);
    margin-left: 0.7em;
    color: var(--text-color);
    background-color: var(--fourth-color);
}
.graph2 {
    fill: var(--background-color);
    min-width: var(--min-width);
    width: 100%;
    font-size: 6px;
    max-width: 800px;

}

@media only screen and (min-width: 600px) {
    .graph1{
        width: 500px;
    }
    .time_selection {
        top: 16%;
    }
    .audits_bars {
        border-top: none;
        width: 300px;
    }
    .audit_container {
        fill: var(--background-color);
        opacity: 0.5;
    }
}
