/* GLOBAL VARIABLES */
@import "/svg/svg.css";

:root{
    /* Background Colors */
    --main-color: #585858b5;
    --background-color: #2a2a2a;
    --fourth-color:#48895ee6;
    --fifth-color :#3e7d77dd;

    /* FONT */
    --big-font:20px;
    --med-font:14px
    --small-font:10px;
    --letter-spacing:3px;
    --text-color: white;

    --min-width:375px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background:var(--background-color);
   color: var(--text-color);
   min-width: var(--min-width);
}

.flex{
    display: flex;
    justify-content: center;
    place-items: center;
    flex-wrap: wrap;
}

/* /////////////////////////////////////////////////////////////////////////////////////// */
/*   PROFILE  SECTION //////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////// */
section#profile{
    font-size: var(--med-font);
}
section#profile .projects_wrapper {
    height: 38vh;
    background-color: var(--main-color);
    overflow: hidden;

    margin-top: 4px;
    color: var(--text-color);
    transition: 1s all ease;
}
section#profile .exp_wrapper {
    margin: 0.5em;
    background-color: var(--main-color);
    color: var(--text-color);
}

.hide{
    height: 46px !important;
}

.trans_btn{
    height: 36px;
    width: 36px;
    font-size:30px;
    background-color: var(--fifth-color);
    text-align: start;
    transform: rotate(450deg);
    transition: 0.5s all ease;
    border-radius: 50%;
    cursor: pointer;

}
.rotate{
    transform: rotate(-450deg);
    box-shadow: 0 0 1px white;
    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}
@keyframes blink {
    0%{
        box-shadow: 0 0 1px var(--fifth-color);
    }
    50%{
        box-shadow: 0 0 10px var(--fifth-color);
    }
    100%{
        box-shadow: 0 0 1px var(--fifth-color);
    }
}
@keyframes blinkText {
    0%{
        text-shadow: 0 0 0px white;
    }
    50%{
        text-shadow: 0 0 4px rgba(242, 201, 0, 0.774);
        border-color:rgba(238, 232, 72, 0.462) ;
    }
    100%{
        text-shadow: 0 0 0px white;
    }
}


/* WELCOME WRAPPER **************************************************/
section#profile .welcome_wrapper{
    /* height: 8vh; */
    min-width: var(--min-width);
    /* padding: 1.5em 0 ; */
    justify-content: space-between;
    font-size: var(--big-font);
    letter-spacing:var(--letter-spacing);
    flex-wrap: nowrap;
    
}
.input_box{
    display: flex;
    /* justify-content: start; */
    /* flex-direction: row; */
    place-items: end; 
    flex-wrap: wrap;
    position: relative;
}
.input_box h3{
    width: 200px;
}
#name_input{
    font-size: 24px;
    letter-spacing: var(--letter-spacing);
    background: none;
    width: 220px;
    /* margin: 4px; */
    margin-left: 4px;
    border: none;
    border-bottom: 2px solid white;
    color: var(--text-color);
    outline-style: none;
    animation-name: blinkText;
    animation-duration: 2s;
    animation-iteration-count: 5;
}

#name_btn{
    display: flex;
    position: absolute;
    left: 220px;
    bottom:10px;
    justify-content: center;
    place-items: center;
    width: 32px;
    height: 32px;
    /* margin-left: 10px; */
    font-size: 24px;
    border: 0.5px solid white;
    border-radius: 50%;    
    background: none;
    color: var(--text-color);
    cursor: pointer;
}
#name_btn:hover {
    background-color: rgba(245, 222, 179, 0.186);
}


section#profile .welcome_wrapper .language_wrapper select{
    height:  10vh;
    font-size: var(--big-font);
    text-align: center;
    color: var(--text-color);
    background-color: var(--fourth-color);
    transition: 0.5s all ease;
}
section#profile .welcome_wrapper .language_wrapper select:hover {
    background-color: #3e7d77dd;
}


section#profile .welcome_wrapper h3{
    margin-left: 4px;
}

@media only screen and (min-width: 550px) {
    .input_box h3 {
        width: 120px;
    }
    #name_btn {
        position: unset;
    }
    section#profile .welcome_wrapper .language_wrapper select {
        height:  6vh;

    }
    section#profile .welcome_wrapper h3 {
        margin-left: 10px;
    }
}
/* PROJECTS WRAPPER ***********************************************/
section#profile .projects_wrapper .projects_title{
    justify-content: space-between;
    padding: 6px;
    font-size: var(--big-font);
}

section#profile .projects_wrapper .projects_total{
    font-size: var(--big-font);
}
section#profile .projects_wrapper .all_projects{
    overflow: auto;
    height: 86%;
    padding-bottom: 20px;
}
section#profile .projects_wrapper .single_project{
    font-size: var(--small-font);
    justify-content: start;
    margin: 0.4em;
    padding: 0.3em;
    background-color: var(--fourth-color);
}

section#profile .projects_wrapper .single_project .single_project_type{
    width:80px;
}
section#profile .projects_wrapper .single_project .single_project_name{
    text-align: left;
    margin-left: 1em;
    width: 300px;
    overflow: hidden;

}

section#profile .projects_wrapper .single_project .single_project_time{
    flex: 2;
    text-align: left;
    
}
section#profile .projects_wrapper .single_project .single_project_exp{
    flex: 1;
    text-align: left;
}




/************************************************************************************************/
/* SECTION STATISTICS ***************************************************************************/
/************************************************************************************************/

.statistics .flex{
    justify-content: start;
    flex-direction: column;
}
.statistics h1{
    width: 100%;
    background-color: var(--main-color);
    padding: 8px;
    font-size: calc(var(--big-font)*1);
    display: block;
    text-align: center;
}


@media only screen and (max-width: 600px) {
    section#profile .projects_wrapper .single_project .single_project_name {
        width: 140px;
    }
}