/* GLOBAL VARIABLES */
:root{
    /* Background Colors */
    --main-color: #323232;
    --second-color: #4B4B4B;
    --third-color: #616161;
    --fourth-color:#545454;
    --fifth-color :#C4C4C4;

    /* FONT */
    --big-font:24px;
    --med-font:18px
    --small-font:14px;
    --letter-spacing:3px;

    --min-width:375px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background:var(--second-color);
   color: white;
   min-width: var(--min-width);
   /* overflow: hidden; */
}

.flex{
    display: flex;
    justify-content: center;
    place-items: center;
    flex-wrap: wrap;
}

/* //////////////////////////////////////////////////////////////////////////////// */
/*   PROFILE  SECTION //////////////////////////////////////////////////////////////////// */
section#profile{
    font-size: var(--med-font);
}
section#profile .projects_wrapper {
    height: 40vh;
    /* margin: 0.5em; */
    background-color: var(--main-color);
    overflow: hidden;
    color: rgba(21, 163, 92, 0.914);
    transition: 1s all ease;
}

.hide{
    height: 7vh !important;
}

.trans_btn{
    height: 36px;
    width: 36px;
    font-size:30px;
    background-color: var(--third-color);
    text-align: start;
    transform: rotate(450deg);
    transition: 0.5s all ease;
    border-radius: 50%;

}
.rotate{
    transform: rotate(-450deg);
    box-shadow: 0 0 1px white;
    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}
@keyframes blink {
    0%{
        box-shadow: 0 0 1px var(--fifth-color);
    }
    50%{
        box-shadow: 0 0 10px var(--fifth-color);
        
    }
    100%{
        box-shadow: 0 0 1px var(--fifth-color);
    }
}
section#profile .exp_wrapper{
    /* height: 40vh; */
    margin: 0.5em;
    background-color: var(--main-color);
    color: rgba(21, 163, 92, 0.914);
}


/* WELCOME WRAPPER */
section#profile .welcome_wrapper{
    height: 8vh;
    width: 100%;
    background: var(--main-color);
    justify-content: space-between;
    font-size: var(--big-font);
    letter-spacing:var(--letter-spacing);
    flex-wrap: nowrap;
}
section#profile .welcome_wrapper .language_wrapper select{
    background-color: var(--fifth-color);
    /* width: 60px; */
    height:  8vh;
    font-size: var(--big-font);
    word-wrap:norma;
    text-align: center;
}
section#profile .welcome_wrapper .language_wrapper select:hover{
    background-color: var(--main-color);
    color: white;
}
section#profile .welcome_wrapper h3{
    margin-left: 10px;
}

 /* PROJECTS WRAPPER ***********************************************/
section#profile .projects_wrapper .projects_title{
    justify-content: space-between;
    padding: 6px;
    font-size: var(--big-font);
}

section#profile .projects_wrapper .projects_total{
    font-size: var(--big-font);
}
section#profile .projects_wrapper .all_projects{
    overflow: auto;
    height: 86%;
}
section#profile .projects_wrapper .single_project{
    font-size: var(--small-font);
    justify-content: start;
    margin: 0.3em;
    padding: 0.2em;
    background-color: var(--fourth-color);
}
section#profile .projects_wrapper .single_project .single_project_name{
    flex: 4;
    text-align: left;
    margin-left: 1em;
}
section#profile .projects_wrapper .single_project .single_project_time{
    flex: 2;
    text-align: left;
    
}
section#profile .projects_wrapper .single_project .single_project_exp{
    flex: 1;
    text-align: left;
}


/*  NEXT PAGE WRAPPER *********************************************/
section#profile .next_page_wrapper{
    height: 8vh;
    background-color: var(--fifth-color);
    position: relative;
}

.arrow {
    position: absolute;
    bottom: calc(8vh / 4);
    left: 50%;
    transform: translateX(-50%) scale(1.5);
}





/************************************************************************************************/
/* SECTION STATISTICS ***************************************************************************/
/************************************************************************************************/

section#statistics{
    flex-direction: column;
}
section#statistics h1{
    width: 100%;
    background-color: var(--main-color);
    padding: 4px;
    font-size: calc(var(--big-font)*1);
    display: block;
    text-align: center;

}
